.container-fluid { 
 background-image: url("images/close-up-hand-cutting-pizza-with-sharp-knife_23-2147922399.jpg");
 background-size: cover;
 background-image: no-repeat;
 text-align: center;
 padding: 8%;
 font-size: medium;
 color: rgb(34, 11, 11);
 opacity: 0.8;

}
.card-title{
    font-family: 'Satisfy';
    font-size: 100px; 
}
.button{
    color: black;
}
#list{
    color: black;
    border: black;
}
#list1{
    color: black;
}
#list2{
    color: black;
}
#list3{
    color: black;
}
#crust{
    font-family: 'Satisfy';
    font-size: 100px;
}